.home-bg {
  background: #0E1203;
}

.home {
  padding: 120px 0px;
}

.home-conteudo {
  display: grid;
  justify-items: center;
}

.tittle-home {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  letter-spacing: -4px;
  margin-bottom: 20px;
}
